.custom-input {
  border-radius: 8px;
  border: 1px solid #949494;
  background: #FFF;
  padding: 12px 16px;
  height: 44px;

  &::placeholder {
    color:#949494;
    font-size: 14px;
    font-weight: 400;
  }

  &:focus {
    box-shadow: none;
  }
}