.search-input {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 40px;
  width: 382px;
  padding: 12px;
  outline: 0;

  input {
    background-color: transparent;
    color: #ececec;

    &::placeholder {
      color: #ececec !important;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .ant-input-prefix {
    margin-inline-end: 12px;
  }

  &.sidebar-search {
    background-color: #fff;
    border-radius: 40px;
    border: 1px solid #cdcdcd;
    max-width: 100%;
    padding: 8px;

    input {
      color: rgba(148, 148, 148, 0.7);

      &::placeholder {
        color: rgba(148, 148, 148, 0.7) !important;
        font-size: 12px;
      }
    }

    .ant-input-prefix {
      margin-inline-end: 8px;
    }
  }
}
